
body {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #8360c3, #2ebf91);

    color: white;

}
.link_admin{
    color: white !important;
    font-weight: bold;
    text-decoration: none;


}
#navbar_id{
    background-color: lightskyblue !important;

}
#logo_nav{
    margin-right: 15px;
}
.statut{
    color: white !important;
}

#labelproject {
    color: white;
}

.wrapper {
    padding: 1rem;
}


.column__list {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 100px;


}

.column__item {
    border-radius: 1rem;

    padding: 0.5rem;
    height: 700px;
       width: 300px;


}

.column__title--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
}

.column__title--wrapper h2 {
    color: #17394d;
    font-weight: 700;
    font-size: 0.9rem;
}

.column__title--wrapper i {
    text-align: right;
    color: #798d99;
    cursor: pointer;
}

.column__item--cta {
    padding: 0.25rem;
    display: flex;

    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.column__item--cta i {
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 1rem;
    transition: background-color 0.3s;
}



.column__item--cta i:hover {

    cursor: pointer;
    background-color: #2ebf91}



.card__list {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    margin: 0.5rem 0;
    padding: 0;
    overflow-y: scroll;
    height: 630px;


    scrollbar-width: thin;
    scrollbar-color: #ccc #f0f0f0;
}


.card__list::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

.card__list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

.card__list::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.card__list::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 5px;
}
.card__item {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
    padding: 0.5rem;
    position: relative;
}

.card__item:hover {
    background-color: #2ebf91;
    border-radius: 10px;
    transition: 0.5s;

}
.card__item i.fa-xmark {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    color: red;
    cursor: pointer;
}

.card__tag {
    font-size: 0.75rem;
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
    font-weight: 700;
    color: white;
    margin-bottom: 0.75rem;
    display: inline-block;
}

.card__tag--design {
    background-color: #61bd4f;
}

.card__tag--browser {
    background-color: #c377e0;
}

.card__tag--mobile {
    background-color: #f2d600;
}

.card__tag--high {
    background-color: #eb5a46;
}

.card__tag--low {
    background-color: #00c2e0;
}

.card__title {
    color: #17394d;
    margin-bottom: 0.75rem;
}

.card__actions {
    display: flex;
    align-items: center;
}

.card__actions--wrapper i {
    color: #798d99;
    margin-right: 0.5rem;
    cursor: pointer;
}

.card__actions--text {
    color: #798d99;
    font-size: 0.8rem;
    margin-left: -0.25rem;
    margin-right: 0.5rem;
}

.card__avatars {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.card__avatars--item {
    margin-left: 0.25rem;
    width: 28px;
    height: 28px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}


.dropdown option {
    padding: 10px;
}


label {
    display: block;
    margin-bottom: 10px;
}


#actions_tasks {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#actions_tasks > a {
    margin-right: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: 700;
    font-size: 16px;
}

#actions_tasks > a:hover {
    color: #0056b3;
}

.yellow-bg {
    background-color: yellow !important;
}

.red-bg {
    background-color: red !important;
}

.blue-bg {
    background-color: blue !important;
}

.orange-bg {
    background-color: orange !important;
}

.green-bg {
    background-color: green     !important;
}

.default-bg {
    background-color: #dfe3e6; /* Couleur par défaut */
}

#labelproject {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#projects {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    font-size: 16px;
    background-color: white;
    color: #333;
    margin-bottom: 30px;
}

#projects option {
    font-size: 16px;
}

#projects option[value="default"] {
    font-style: italic;
    color: #999;
}